body
{
	background: url('pictures/bgp/51ece87378fbf17bcef45e5c477c24ea.jpg') no-repeat fixed;
	background-size: 100% 100%;
}
#head
{
    list-style-type: none;
    margin: 0;
	padding: 0;
	overflow:hidden;
	background: #999999;
	border:3mm outset #999999;
	margin-top:0mm;
	color:white;
}
a.dl
{
	display:block;
	width: 50px;
	float: right;
	text-decoration: none;
	color:white;
}
a.dl:hover
{
	color:white;
	background-color: #333;
}
#choosebg
{
	width:300px;
	border-left: blanchedalmond;
}
.blog-masthead 
{
	background-color: wheat;
	position:fixed;
	width: 10%;
	z-index:999;
	border:2mm outset wheat;
	opacity:0.5;
}
a.lead
{
	text-decoration: none;
	text-align: center;
	position:absolute;
	z-index:999;
}
a.lead:link {color:blue;} 
a.lead:visited {color:blue;}
a.lead:hover {color:blue;}
a.lead:active {color:blue;}

a#returntotop{text-decoration: underline;}
a#returntotop:link{color:purple;}
a#returntotop:visited{color:purple;}
a#returntotop:hover {color:purple;}
a#returntotop:active {color:purple;}

.dateandtime
{
	
	font-size: 14px;
	position: absolute;
	top:0;
	z-index: 999;
	left:41%;
}

#welcome
{
	text-align:center;
}

.intr 
{
	font: 36px "黑体";
	background-image: url('pictures/bgp/c597fb3eff228c51cbcd010dad058f9d.jpg');
	background-size: 100% 100%;
	height: 15cm;
	width: 33cm;
	border: 2mm solid;
	text-align:center;
	display: table-cell;
	vertical-align:middle;
}
#part1 
{
	background:#999999;
	border: 3mm outset #999999;
	font: bolder xx-large "黑体";
}
.tab
{
	float:left;
}
table
{
	border-collapse: collapse;
}
table,th,td
{
	border:2px solid black;
	font: large;
	width: 108mm;
}
td{padding:15px;}

.myphoto
{
	position: relative;
	font: italic bolder Fixedsys;
	color:skyblue;
	width: 630px;
	float: right;
}
.tobecentered1{text-align: center;}
#part2 
{
	left:0%;
	font: bolder xx-large "黑体";
	background: #999999;
	border: 3mm outset #999999;
	position: relative;
	text-align:left;
}
.hobby1 
{
	width: 350px;
	position: relative;
	font: bold x-large "黑体";
	border:2mm inset #ff0000;
	text-align: center;
	float: left;
}
.hobby2 
{
	font: bold x-large "黑体";
	position: relative;
	width: 350px;
	border:2mm inset #ff7300;
	text-align: center;
	float: left;
	left:6%;
}
.hobby3 
{
	font: bold x-large "黑体";
	color: #999999;
	border:2mm inset #fbff00;
	position: relative;
	width: 350px;
	text-align: center;
	float: right;
}
#part3
{
	left:0%;
	font: bolder xx-large "黑体";
	background: #999999;
	border: 3mm outset #999999;
	position: relative;
	text-align:left;
}
#experience
{
	position: relative;
	float:left;
}
#pic1
{
	position: relative;
	float: right;
	right: 17%;
	font:bolder large;
}
#end
{
	font:small;
	text-align:center;
	color: #999999;
}
#head {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}